<?php

return [
    'facile' => [
        'sentry' => [
            'client' => [
                'default' => [
                    'dsn' => '',
                    'options' => [], // Raven client options
                    'register_error_handler' => true,
                    'register_exception_handler' => true,
                    'register_shutdown_function' => true,
                    'register_error_listener' => true,
                ]
            ]
        ],
    ],
];
